<h1> Flatiron Gram </h1>
<h3> Here's what users have posted recently! </h3>

<div class="ui four centered doubling cards">
	<% @pictures.reverse.each do |pic| %>
		<%= render partial: "card", locals: {pic: pic} %>
	<% end %>
</div>	